#dashboard-main-records {
    .main-panel {
        .content {
            flex: 1;
            min-height: calc(100vh - 173px);
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/general/black-texture-background-1080P-wallpaper-middle-size.png) fixed center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 0 40px 40px 40px;
            animation: fadeIn 0.5s ease;

            .page-title {
                font-size: 40px;
                color: #E1E1E1;
            }

            .header-select-class {
                padding: 60px 0;

                .select-dropholder {
                    width: 280px;
                    font-size: 16px;

                    .dropdown {
                        p {
                            color: #8A88B7;
                        }
                    }
                }
            }

            .main-records-value {
                display: flex;
                justify-content: space-between;
                padding-bottom: 70px;

                .item {
                    width: 30%;
                    background: #26243F;
                    box-shadow: 0px 28px 45px #00000029;
                    border: 1px solid #707070;
                    border-radius: 10px;
                    padding: 20px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 10px;
                    position: relative;

                    &:after {
                        content: "";
                        width: 5px;
                        height: 100%;
                        border: 7px solid transparent;
                        position: absolute;
                        border-radius: 10px;
                        top: 0px;
                        left: -1px;
                    }

                    &:first-child {
                        &:after {
                            border-color:#FF0000;
                            box-shadow: 0 3px 6px #FF0000;
                        }
                    }

                    &:nth-child(2) {
                        &::after {
                            border-color: #6B54E3;
                            box-shadow: 0 3px 6px #6B54E3;
                        }
                    }

                    &:last-child {
                        &::after {
                            border-color: #54C6FF;
                            box-shadow: 0 3px 6px #54c6ff;
                        }
                    }

                    .title {
                        color: white;
                        font-size: 20px;
                    }
                    .image-container {
                        width: 30%;
                        padding-top: 30%;
                        background-repeat: no-repeat !important;
                        background-size: cover !important;
                        background-position: center center !important;
                        border-radius: 100%;
                    }
                }
            }

            .table-body {
                background-color: #0B0B13;
                border: 1px solid #707070;
                padding: 30px 40px;
                border-radius: 10px;

                .table-container {
                    padding-bottom: 60px;

                    .header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .title {
                            color: #E1E1E1;
                            font-size: 24px;
                            text-transform: uppercase;
                        }

                        .select-dropholder {
                            width: 200px;
                            height: 50px;
                        font-size: 16px;
                            
                            .dropdown {
                                &::after {
                                    top: 20px;
                                }

                                p {
                                    color: #8A88B7;
                                }
                            }

                            .menu {
                                top: 55px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #dashboard-main-records {
        .main-panel {
            .content {
                .page-title {
                    font-size: 32px;
                }

                .header-select-class {
                    padding: 30px 0;
                }

                .main-records-value {
                    padding-bottom: 40px;

                    .item {
                        &:after {
                            border: 4px solid transparent;
                        }    
                        
                        .title {
                            font-size: 16px;
                        }
                    }
                }

                .table-body {
                    .table-container {
                        .header {
                            .title {
                                font-size: 20px;
                            }

                            .select-dropholder {
                                width: 160px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    #dashboard-main-records {
        .main-panel {
            .content {
                width: 93vw;
                padding: 0px;
                margin: 0 auto;

                .page-title {
                    font-size: 24px;
                }

                .header-select-class {
                    padding: 20px 0;

                    .select-dropholder {
                        width: 200px;
                        height: 50px;

                        .dropdown {
                            &::after {
                                top: 20px;
                            }
                        }

                        .menu {
                            top: 55px;
                        }
                    }
                }

                .main-records-value {
                    .item {
                        width: 32%;
                        border-radius: 5px;

                        &:after {
                            width: 3px;
                            border: 2px solid transparent;
                        } 

                        .image-container {
                            width: 40%;
                            padding-top: 40%;
                        }
                    }
                }

                .table-body {
                    padding: 20px 10px;
                    padding-bottom: 0px;

                    .table-container {
                        padding-bottom: 30px;

                        .header {
                            flex-direction: column;
                            align-items: unset;
                            row-gap: 10px;

                            .title {
                                font-size: 16px;
                            }

                            .select-dropholder {
                                width: 130px;
                                height: 40px;
    
                                .dropdown {
                                    &::after {
                                        top: 15px;
                                    }
                                }

                                .menu {
                                    top: 45px;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}