@import './variables.scss';
body{
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	background: #fff;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

.font-family-secondary{
    // font-family: Arial, Helvetica, sans-serif !important
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.pointer{
    cursor: pointer !important;
}

h1, h2, h3, h4, h5, h6{
    color: $text-color !important;
}


.route-wrapper {
    min-height: 100vh;
    position: relative;
    top: 0;
    background-color: #000104;

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-x: hidden;
    
    .main-panel {
        flex: 1;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
} 

#sidebar-menu {
    width: 128px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 0px;
}



.select-dropholder{
    width: 322px;
    height: 60px;
    border-radius:10px;
    font:18px arial;
    color: #fff;
    position: relative;
    box-sizing:border-box;
    position: relative;
  
  .dropdown{
    background: #26243F;
    box-shadow: 0px 28px 45px #00000029;
    border: 1px solid #707070;
    display: flex;
    align-items: center;
    width: 100%;
    padding:0 0 0 20px;
    border-radius:10px;
    cursor: pointer;
    height:100%;
    position: relative;
    box-sizing: border-box;

    &:after{
        content: "";
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-color: #54c6ff transparent transparent transparent;
        position: absolute;
        top: 28px;
        right: 20px;
      }

  }
  
  .menu{
    position: absolute;
    right: 0;
    top:70px;
    width: 100%;
    cursor: pointer;
    opacity:0;
    transform-style: preserve-3d;
    transform:rotatey(180deg) rotateX(5deg) translatey(100px);
    backface-visibility: hidden;
    background:linear-gradient(#4dc2f8 ,#0d82b9);
    border:2px solid #0d82b9;
    border-radius:10px;
    transition:all 0.8s;
    z-index:5;
    overflow:hidden;
    box-sizing: border-box;
    list-style: none;
    padding-left: 0px;

    li{
        padding: 10px 10px;
        border-bottom:1px dotted #fff;
        color:#e8f8ff; 
        transition:all 0.3s;

        &:hover{
            background:#61ccfd;
            padding-left:20px;
          }
          &:last-child{
            border:none;
          }
      }
      
  }
 
}
  
.showSelectMenu{
    opacity: 1 !important;
    transform:rotateX(0deg) translatey(0px) !important;
}


@media screen and (max-width: 1600px){
    #sidebar-menu {
        width: 85px;
    }
}

@media screen and (max-width: 575px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.75rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.25rem;
    }
    h5{
        font-size: 1rem;
    }
    h6{
        font-size: 0.9rem;
    }
}

.text-grey{
    color: #fff;
    opacity: 0.66;
}

.text-primary{
    color: $text-color;
}

.text-blue{
    color: #0087CB !important;
}

.border-grey{
    border: 1px solid $border-color;
}

.clearfix {
    clear: both;
}

.loading-spinner {
    height: 100%;
}

.dashboard-header-title {
    font-size: 64px;
}

