@import './variables.scss';
body{
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	background: #fff;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

.font-family-secondary{
    // font-family: Arial, Helvetica, sans-serif !important
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.pointer{
    cursor: pointer !important;
}

h1, h2, h3, h4, h5, h6{
    color: $text-color !important;
}


.route-wrapper {
    min-height: 100vh;
    position: relative;
    top: 0;
    background-color: #000104;

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-x: hidden;
    
    .main-panel {
        flex: 1;
        min-height: 100vh;
    }
} 

#sidebar-menu {
    width: 128px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 0px;
}


@media screen and (max-width: 575px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.75rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.25rem;
    }
    h5{
        font-size: 1rem;
    }
    h6{
        font-size: 0.9rem;
    }
}

.text-grey{
    color: #fff;
    opacity: 0.66;
}

.text-primary{
    color: $text-color;
}

.text-blue{
    color: #0087CB !important;
}

.border-grey{
    border: 1px solid $border-color;
}

.clearfix {
    clear: both;
}

.loading-spinner {
    height: 100%;
}

