#answerLineChartContainer {
    background-color: #12131F;
    border-radius: 10px;
    padding: 30px 40px;

    .chart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        padding-right: 30px;

        .chart-name {
            color: white;
            font-size: 24px;
        }

        .select-dropholder {
            width: 90px;
            height: 40px;

            .dropdown {
                border: 1px solid white;
                padding-left: 10px;

                &:after {
                    top: 16px;
                    right: 10px;
                }

                p {
                    color: white;
                    font-size: 14px;
                }
            }

            .menu {
                top: 50px;
            }
        }
    }

    .chart-footer {
        display: flex;
        justify-content: center;
        column-gap: 40px;
        padding: 20px 0;

        p {
            color: #67758D;
            font-size: 14px;
            position: relative;

            &:first-child {
                &::after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    background: #54c6ff;
                    box-shadow: 0 1px 6px #54c6ff;
                    position: absolute;
                    border-radius: 10px;
                    top: 5px;
                    left: -15px;
                }
            }

            &:last-child {
                &::after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    background: #FF0000;
                    box-shadow: 0 1px 6px #FF0000;
                    position: absolute;
                    border-radius: 10px;
                    top: 5px;
                    left: -15px;
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    #answerLineChartContainer {
        .chart-header {
            .chart-name {
                font-size: 20px;
            }
        }
    }
}


@media screen and (max-width: 575px) {
    #answerLineChartContainer {
        padding: 20px;

        .chart-header {
            padding-right: 10px;
        }
    }
}