.dashboard-footer {
    background: #000104;
    color: #C9C5C5;
    font-size: 20px;
    text-align: center;
    padding: 30px 0;
}

@media (max-width: 575px ){
    .dashboard-footer {
        font-size: 20px;
    }
}