@import '~sass/variables.scss';

#dashboar-record-card {
    border-radius: 8px;
    color: #E1E1E1;
    margin-bottom: 52px;

    .header{
        background: #0D0D19;
        border-radius: 8px;
        font-size: 21px;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 19px 26px;

        .vs-language {
            display: flex;
            align-items: center;

            span {
                &:first-child {
                    font-weight: bold;
                }

                &:last-child {
                    color: #ABABAB;
                }
            }

            img {
                padding: 0 5px;
            }
        }

        a {
            color: #0087CB;
            text-transform: lowercase;
            text-decoration: underline;
            transition: 0.3s ease;

            &:hover {
                filter: brightness(2.5);
            }
        }
    }

    .card-body {
        background: #010412;
        text-transform: uppercase;
        padding: 10px 26px;
        border-radius: 0 0 8px 8px;

        .item {
            display: flex;
            padding: 10px 0 10px 15px ;
            justify-content: space-between;

            div {
                width: 50%;
                display: flex;
                align-items: center;

                &:first-child {
                    position: relative;

                    img {
                        position: absolute;
                        left: -40px;
                        padding-top: 5px;
                    }

                    span {
                        margin-left: 30px;
                    }
                }

                &:last-child {
                    justify-content: center;
                }
            }
            
        }
    }
}

@media (max-width: 1600px) {
    #dashboar-record-card {
        margin-bottom: 30px;
    
        .header{
            font-size: 15px;
            padding: 15px 10px;
    
            .vs-language {
                img {
                    padding: 0 5px;
                    width: 37px;
                    height: 15px;
                }
            }

            a {
                font-size: 14px;
            }
    
        }
    
        .card-body {
            padding: 10px 10px;
    
            .item {
                padding: 10px;
    
                div {
                    width: 50%;
                    font-size: 12px;
    
                    &:first-child {
    
                        img {
                            left: -40px;
                            padding-top: 8px;
                        }
    
                        span {
                            margin-left: 25px;
                            font-size: 13px;
                        }
                    }

                }
                
            }
        }
    }
}



@media (max-width: 575px) {
    #dashboar-record-card {
        .header {
            flex-wrap: wrap;

            a {
                width: 100%;
                text-align: right;
            }
        }
    }
}