#main-record-table {
    table {
        width: 100%;
        color: #E1E1E1;
        border-collapse: collapse;

        thead {
            tr {
                th {
                    text-transform: uppercase;
                    font-size: 18px;
                    padding: 40px 0;

                    &:first-child {
                        text-align: left;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    text-align: left;
                    padding: 15px 0;
                    padding-left: 15px;
                }
            }

            .contained-tr {
                td {
                    background: #12131F;
                    border-top: 1px solid #707070;
                    border-bottom: 1px solid #707070;
                    font-size: 14px;

                    &:first-child {
                        border-left: 1px solid #707070;

                        img {
                            width: 74px;
                        }
                    }

                    &:last-child {
                        border-right: 1px solid #707070;
                    }

                    a {
                        color: #0087CB;
                        text-decoration: underline;
                        transition: 0.3s ease;

                        &:hover {
                            filter: brightness(2.5);
                        }
                    }

                }
            }
        }
    }
}


@media screen and (max-width: 1024px) {

    #main-record-table {
        table {
            thead {
                tr {
                    th {
                        font-size: 14px;
                        padding: 20px 0;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-size: 12px;
                        padding: 10px 0;
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    #main-record-table {
        width: 100%;
        overflow-x: scroll;

        table {
            min-width: 600px;
        }
    }
}