@import '~sass/variables.scss';

#dashboard-header {
    height: 97px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 58px;
    margin-bottom: 50px;
    box-sizing: border-box;

    .search-section {
        flex: 1;
        position: relative;
        height: 59px;

        button {
            position: absolute;
            background-color: #EF0000;
            box-shadow: 0px 56px 47px #00000029;
            width: 216px;
            height: 100%;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            color: white;
            font-size: 20px;
            border: none;
            outline: none;
            top: 0px;
            left: 0px;
            cursor: pointer;
        }

        input[type="text"] {
            position: relative;
            border: none;
            font-size: 20px;
            text-align: center;
            padding-left: 210px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background: #E2E2E2;
            outline: none;

            &::placeholder {
                color: black;
            }

            &:focus {
                box-shadow: 0 1px 20px #00CB9B;
            }
        }
    }

    .right-section {
        display: flex;
        justify-content: space-between;
        padding-left: 40px;

        .logo {
            display: none;
        }

        .notice {
            .help-info {
                display: flex;
                column-gap: 44px;
                align-items: center;

                .icon-btn {
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    background: #151423;
                    box-shadow: 6px 6px 13px #121120;
                    border: 1px solid #26243F;
                    border-radius: 11px;
                    display: flex;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    outline: none;
                    position: relative;

                    &:hover {
                        filter: brightness(2.0);
                    }

                    img {
                        width: 100%;
                    }

                    .notification-icon {
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        background: #FC4810;
                        border-radius: 100%;
                        right: 6px;
                        top: 7px;
                    }
                }
            }
        }

        .user-setting {
            padding-left: 48px;

            .mobile-menu-btn {
                display: none;
            }

            .section-right {

                display: flex;
                align-items: center;
            }

            .dropdown {
                position: relative;

                .name {
                    padding: 0 25px 0 15px;
                    color: #fff;
                    font-size: 18px;
                    cursor: pointer;

                    &::after {
                        content: "";
                        width: 0;
                        height: 0;
                        border: 7px solid transparent;
                        border-color: #54c6ff transparent transparent transparent;
                        position: absolute;
                        top: 10px;
                        right: 3px;
                    }
                }

                .items {
                    position: absolute;
                    border: 1px solid $border-color;
                    border-radius: 10px;
                    right: 0px;
                    margin-top: 10px;
                    overflow: hidden;
                    z-index: 10;

                    .item {
                        font-size: 15px;
                        color: $text-color;
                        padding: 10px;
                        text-align: center;
                        background-color: #000104;
                        cursor: pointer;
                        animation: fade-down 0.5s ease-out;

                        &:hover {
                            background-color: #0087CB;
                        }

                        &:nth-child(2) {
                            border-top: 1px solid $border-color;
                            border-bottom: 1px solid $border-color;
                        }
                    }
                }
            }
        }
    }

}

@keyframes fade-down {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 1600px) {
    #dashboard-header {
        padding: 0 35px;
        margin-bottom: 50px;

        .search-section {
            height: 50px;

            button {
                font-size: 16px;
                width: 150px;
            }

            input[type="text"] {
                padding-left: 150px;
                font-size: 16px;
            }
        }

        .right-section {
            padding-left: 30px;
    
            .notice {
                .help-info {
                    column-gap: 30px;

                    .icon-btn {
                        width: 35px;
                        height: 35px;
                    }
                }

            }

            .user-setting {
                padding-left: 30px;

                .dropdown {
                    .name{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}


@media (max-width: 992px) {
    #dashboard-header {
        flex-direction: column-reverse;
        align-items: flex-end;
        height: unset;
        padding-top: 20px;

        .search-section {
            width: 100%;
            margin-top: 20px;
        }
    }
}

@media (max-width: 768px) {
    #dashboard-header {
        .right-section {
            width: 100%;
            padding-left: 0px;
            flex-direction: column;

            .notice {
                display: flex;
                justify-content: space-between;

                .logo {
                    display: block;
                }

                .help-info {
                    column-gap: 20px;
                }
            }

            .user-setting {
                padding-left: 0px;
                display: flex;
                justify-content: space-between;

                .mobile-menu-btn {
                    display: block;
                    border: none;
                    outline: none;
                    background: transparent;

                    i {
                        color: #fff;
                        font-size: 24px;
                    }
                }
            }

        }
    }
}

@media (max-width: 575px) {
    #dashboard-header {
        padding: 20px 0;
        margin: 0 auto;
        width: 93vw;

        .search-section {
            height: 45px;

            button {
                font-size: 14px;
                width: 110px;
            }

            input[type="text"] {
                padding-left: 110px;
                font-size: 14px;
            }
        }
    }
}