#dashboard-learning-progress {
    .main-panel {
        .content {
            flex: 1;
            min-height: calc(100vh - 173px);
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/general/black-texture-background-1080P-wallpaper-middle-size.png) fixed center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 0 40px 40px 40px;

            .page-title {
                font-size: 40px;
                color: #E1E1E1;
            }
        }
    }
}