.language-rank-table {
    width: 100%;
    color: #E1E1E1;
    border-collapse: collapse;
    margin-bottom: 80px;

    thead {
        tr {
            th {
                text-transform: uppercase;
                font-size: 18px;
                padding: 40px 0;
                text-align: center;
            }
        }
    }

    tbody {
        tr {
            td {
                text-align: center;
                padding: 15px 0;
            }
        }

        .contained-tr {
            td {
                background: #12131F;
                border-top: 1px solid #707070;
                border-bottom: 1px solid #707070;
                font-size: 14px;

                &:first-child {
                    border-left: 1px solid #707070;

                    img {
                        width: 74px;
                    }
                }

                &:last-child {
                    border-right: 1px solid #707070;
                }

                a {
                    color: #0087CB;
                    text-decoration: underline;
                    transition: 0.3s ease;

                    &:hover {
                        filter: brightness(2.5);
                    }
                }

                .success {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 15px;
                    color: #56DB15;

                    .amount {
                        color: white;
                    }

                    p {
                        display: grid;
                        place-items: center;
                        width: 20px;
                        height: 20px;
                        margin-bottom: 0px;
                        border-radius: 100%;
                        background: #56DB15;
                        box-shadow: 0px 3px 7px #56DB15;

                        i {
                            color: white;
                            font-size: 10px;
                        }

                    }
                }

                .warning {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 15px;
                    color: #CD0000;

                    .amount {
                        color: white;
                    }

                    p {
                        display: grid;
                        place-items: center;
                        width: 20px;
                        height: 20px;
                        margin-bottom: 0px;
                        border-radius: 100%;
                        box-shadow: 0px 3px 6px #FF0000;
                        background: #CD0000;

                        i {
                            color: white;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .language-rank-table { 
        thead {
            tr {
                th {
                    font-size: 14px;
                    padding: 20px;
                }
            }
        }

        tbody {
            tr {
                td {
                    font-size: 12px;
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .language-rank-table {
        min-width: 600px;
    }
}