@import '~sass/variables.scss';

#sidebar-menu {

    .logo-section {
        height: 97px;
        margin-bottom: 76px;

        .logo {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }        
    }

    .mobile-menu-close {
        display: none;
        text-align: right;
        padding: 30px;
        
        button {
            border: none;
            outline: none;
            background-color: transparent;

            i {
                font-size: 20px;
                color: white;
            }
        }
    }

    .navbar-container {
        flex: 1;
        border-right: 1px solid #707070;

        ul {
            padding: 0px;
            list-style-type: none;
            margin: 0px;

            li {
                padding-bottom: 40px;

                .nav-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 70px;

                    img {
                        width: 34px;
                        opacity: 0.5;
                    }

                    &:hover {

                        img {
                            opacity: 1;
                        }
                    }
                }

                .active{
                    background: rgba(0, 135, 203, 0.29);
                    border-radius: 2px 0px 0px 2px;
                    border-right: 3px solid #0087CB;

                    img {
                        opacity: 1;
                    }
                }

                &:last-child {
                    padding-top: 200px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #sidebar-menu {
        display: none;
        background: #000104;
        z-index: 9999;
        width: 100vw;
        position: fixed;

        .mobile-menu-close {
            display: block;
        }

        .logo-section {
            display: none;
        }


        .navbar-container {
            ul {
                li {
                    padding-bottom: 0px;

                    &:last-child {
                        padding-top: 0px;
                    }
                }
            }
        }
    }
}