@import '~sass/variables.scss';

#award-card {
    background: #12131F 0% 0% no-repeat padding-box;
    box-shadow: 0px 11px 36px #30303029;
    border: 1px solid #D8D8D8;
    padding: 65px 46px;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-right: 20px;
    animation: fade-down 0.8s ease-out;


    .header-section {
        display: flex;
        column-gap: 45px;
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: 25px;

        .img-section {
            width: 28%;
            padding-top: 28%;
            background-position: center center !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
        }

        .description {
            flex: 1;

            .header {
                padding-bottom: 20px;

                .title {
                    margin: 0px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-size: 25px;
                }

                .score {
                    position: relative;
                    width: 79px;
                    height: 43px;
                    background: #11121E 0% 0% no-repeat padding-box;
                    box-shadow: 0px 3px 31px #00000029;
                    border: 1px solid #707070;
                    border-radius: 10px;
                    padding: 4px 0px 0 15px;

                    span {
                        color: #E1E1E1;
                        font-size: 24px;
                    }

                    img {
                        position: absolute;
                        top: -22px;
                        left: 6px;
                    }
                }
            }

            .info {
                font-size: 14px;
                letter-spacing: -0.08px;
                color: #979EA6;
                margin: 0px;
            }
        }
    }

    .footer-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 49px;

        .right-section {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 10px;

            .circle {
                width: 27px;
                height: 27px;
                border-radius: 100%;
                box-shadow: 0px 1px 6px #0087CB;
                border: 2px solid #0087CB;
                margin-right: 20px;
            }

            p {
                font-size: 22px;
                color: #9E9E9E;
                margin: 0px;
            }

            .bar {
                width: 2px;
                height: 18px;
                background: #0087CB;
                margin: 0 8px;
            }

            a {
                color: #0087CB;
                text-decoration: underline;
                font-size: 22px;
            }
        }

        button {
            border: none;
            outline: none;
            background-color: transparent;
            color: #9797A6;
            font-size: 19px;
            display: flex;
            align-items: center;

            img {
                width: 32px;
                margin-right: 20px;;
            }
        }
    }
}

@media (max-width: 992px ){
    #award-card {
        margin-right: 0px;

        .header-section {
            flex-direction: column;
            align-items: center;

            .img-section {
                margin-bottom: 20px;
                width: 50%;
                padding-top: 50%;
            }
        }

        .footer-section {
            flex-direction: column;
            row-gap: 15px;
            align-items: flex-end;

            .right-section {
                width: 100%;

                p {
                    font-size: 15px;
                }

                a {
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 575px ){
    #award-card {
        padding: 30px 20px;
        
        .header-section {

            .img-section {
                width: 90%;
                padding-top: 90%;
            }

            .description {
                .header {
                    justify-content: flex-end !important;
                    row-gap: 10px;

                    .title {
                        width: 100%;
                    }
                }
            }
        }
    }
}