@import '~sass/variables.scss';

#dashboard-records {
    .main-panel {
        .content {
            min-height: calc(100vh - 173px);
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/general/black-texture-background-1080P-wallpaper-middle-size.png) fixed center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 0px 58px;
            padding-bottom: 60px;
            animation: fadeIn 0.5s ease;

            .analysis-section {
                display: flex;
                column-gap: 39px;

                .left-section {
                    flex: 1;
                    display: grid;
                    grid-template-columns: 32% 36% 32%;
                    background: #12131F;
                    box-shadow: 0px 28px 45px #00000029;
                    border: 1px solid #707070;
                    border-radius: 10px;
                    padding: 60px 68px 40px 68px;

                    .item {
                        display: flex;
                        column-gap: 20px;
                        align-items: center;

                        &:first-child {
                            .img-section {
                                background-color: #20CB00;
                                box-shadow: 0 1px 20px #20CB00;
                            }
                        }

                        &:nth-child(2) {
                            .img-section {
                                background-color: #CB8E00;
                                box-shadow: 0 1px 20px #CB8E00;
                            }
                        }

                        &:nth-child(3) {
                            .img-section {
                                background-color: #0087CB;
                                box-shadow: 0 1px 20px #0087CB;
                            }
                        }

                        &:nth-child(4) {
                            .img-section {
                                background-color: #6B54E3;
                                box-shadow: 0 1px 20px #6B54E3;
                            }
                        }

                        &:nth-child(5) {
                            .img-section {
                                background-color: #00CB9B;
                                box-shadow: 0 1px 20px #00CB9B;
                            }
                        }

                        &:nth-child(6) {
                            .img-section {
                                background-color: #E35454;
                                box-shadow: 0 1px 20px #E35454;
                            }
                        }

                        &:first-child,
                        &:nth-child(2),
                        &:nth-child(3) {
                            border-bottom: 1px solid #0087CB;
                        }

                        &:nth-child(2),
                        &:nth-child(5) {
                            border-left: 1px solid #0087CB;
                            border-right: 1px solid #0087CB;
                            padding-left: 52px;
                        }

                        &:nth-child(3),
                        &:nth-child(6) {
                            padding-left: 52px;
                        }

                        &:nth-child(4),
                        &:nth-child(5),
                        &:nth-child(6) {
                            align-items: center;
                        }

                        .img-section {
                            display: grid;
                            place-items: center;
                            border-radius: 100%;
                            width: 75px;
                            height: 75px;
                        }

                        .right {
                            flex: 1;

                            .title {
                                font-size: 23px;
                                color: #E1E1E1;
                                padding-bottom: 20px;
                                margin-bottom: 0px;
                            }

                            .small-text {
                                color: #ffffff;
                                font-size: 19px;
                                opacity: 0.66;
                                margin-bottom: 0px;
                            }

                            a {
                                color: white;
                                opacity: 0.66;
                                text-decoration: underline;
                                transition: 0.3s ease;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                .right-section {
                    .main-content {
                        width: 329px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background: #12131F;
                        box-shadow: 0px 28px 45px #00000029;
                        border: 1px solid #707070;
                        border-radius: 10px;
                        padding: 38px 0;

                        .header {
                            display: flex;
                            align-items: center;
                            position: relative;

                            img {
                                position: absolute;
                                transform: scale(1.5);
                                left: -50px;
                                margin-top: -13px;
                            }

                            p {
                                color: #E1E1E1;
                                font-size: 23px;
                                margin-left: 25px;
                                margin-top: -8px;
                            }
                        }

                        .apollo-container {
                            width: 100%;

                            img {
                                width: 100%;
                                transform: scale(1.2);
                            }
                        }

                        .footer {
                            p{
                                color: #ffffff;
                                font-size: 23px;
                            }
                        }
                    }
                                        
                }
            }



            .record-section {
                display: flex;
                column-gap: 59px;
                margin-top: 89px;

                .left-section {
                    flex: 1;

                    .top-section {
                        display: flex;
                        justify-content: space-between;
                        padding: 18px 40px;
                        border-radius: 10px;
                        margin-bottom: 89px;
                        background: #0B0B13;
                        box-shadow: 0px 28px 45px #0B0B13;
                        border: 1px solid #707070;

                        .outline-none-btn {
                            border: none;
                            outline: none;
                            background: transparent;
                            color: white;
                            text-transform: uppercase;
                            font-size: 30px;
                            width: 30%;
                            height: 88px;
                            border-radius: 8px;
                            transition: 0.3s ease;

                            &:hover {
                                background: #00CB9B;
                                box-shadow: 0 1px 20px #00CB9B;
                            }
                        }

                        .active-btn {
                            background: #0087CB;
                            box-shadow: 0 1px 20px #0087CB;
                            cursor: pointer;
                        }
                    }

                    .bottom-section {
                        background: #0B0B13;
                        box-shadow: 0px 28px 45px #0B0B13;
                        border: 1px solid #707070;
                        padding: 25px 52px;

                        .header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .title {
                                color: #E1E1E1;
                                text-transform: uppercase;
                                font-size: 26px;
                            }

                            .this-day-select {
                                position: relative;

                                .tag {
                                    width: 260px;
                                    height: 65px;
                                    display: grid;
                                    align-items: center;
                                    padding-left: 20px;
                                    background: #151423 0% 0% no-repeat padding-box;
                                    box-shadow: 6px 6px 12px #121120;
                                    border: 1px solid #26243F;
                                    border-radius: 13px;
                                    color: #8A88B7;
                                    font-size: 18px;
                                    cursor: pointer;

                                    &::after {
                                        content: "";
                                        width: 0;
                                        height: 0;
                                        border: 7px solid transparent;
                                        border-color: #54c6ff transparent transparent transparent;
                                        position: absolute;
                                        top: 27px;
                                        right: 20px;
                                    }                                    
                                }

                                .items {
                                    position: absolute;
                                    width: 100%;
                                    margin-top: 10px;
                                    border: 1px solid #26243F;
                                    background: #151423;
                                    border-radius: 13px;
                                    overflow: hidden;

                                    .item {
                                        color: white;
                                        padding: 15px 20px;
                                        cursor: pointer;
                                        transition: 0.3s ease;

                                        &:hover {
                                            background: #0087CB;
                                        }
                                    }
                                }

                            }
                        }

                        .table-scroll-container {
                            animation: fade-down 0.8s ease-out;

                            .language-rank-table {
                                width: 100%;
                                color: #E1E1E1;
                                border-collapse: collapse;
                                margin-bottom: 80px;

                                thead {
                                    tr {
                                        th {
                                            text-transform: uppercase;
                                            font-size: 18px;
                                            padding: 40px 0;
                                            text-align: center;
                                        }
                                    }
                                }

                                tbody {
                                    tr {
                                        td {
                                            text-align: center;
                                            padding: 15px 0;
                                            padding-left: 15px;
                                        }
                                    }

                                    .contained-tr {
                                        td {
                                            background: #12131F;
                                            border-top: 1px solid #707070;
                                            border-bottom: 1px solid #707070;
                                            font-size: 14px;

                                            &:first-child {
                                                border-left: 1px solid #707070;

                                                img {
                                                    width: 74px;
                                                }
                                            }

                                            &:last-child {
                                                border-right: 1px solid #707070;
                                            }

                                            a {
                                                color: #0087CB;
                                                text-decoration: underline;
                                                transition: 0.3s ease;

                                                &:hover {
                                                    filter: brightness(2.5);
                                                }
                                            }

                                            .success {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                column-gap: 15px;
                                                color: #56DB15;

                                                .amount {
                                                    color: white;
                                                }

                                                p {
                                                    display: grid;
                                                    place-items: center;
                                                    width: 20px;
                                                    height: 20px;
                                                    margin-bottom: 0px;
                                                    border-radius: 100%;
                                                    background: #56DB15;
                                                    box-shadow: 0px 3px 7px #56DB15;

                                                    i {
                                                        color: white;
                                                        font-size: 10px;
                                                    }

                                                }
                                            }

                                            .warning {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                column-gap: 15px;
                                                color: #CD0000;

                                                .amount {
                                                    color: white;
                                                }

                                                p {
                                                    display: grid;
                                                    place-items: center;
                                                    width: 20px;
                                                    height: 20px;
                                                    margin-bottom: 0px;
                                                    border-radius: 100%;
                                                    box-shadow: 0px 3px 6px #FF0000;
                                                    background: #CD0000;

                                                    i {
                                                        color: white;
                                                        font-size: 10px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }


                        .award-items {
                            max-height: 800px;
                            overflow-y: scroll;
                            margin-right: -20px;

                            &::-webkit-scrollbar {
                                width: 14px;      
                            }
                            
                            &::-webkit-scrollbar-track {
                                box-shadow: inset 0 0 5px #0087CB; 
                                border-radius: 10px;
                            }
                            
                            &::-webkit-scrollbar-thumb {
                                background: #0087CB; 
                                border-radius: 10px;
                            }
                            
                            &::-webkit-scrollbar-thumb:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                .right-section {                   

                    .section-container {
                        background: #0B0B13;
                        box-shadow: 0px 28px 45px #0B0B13;
                        width: 507px;
                        padding: 58px 28px;
                    }
                }
            }


        }
    }
}





@media (max-width: 1600px) {
    #dashboard-records {
        .main-panel {
            .content {
                min-height: calc(100vh - 173px);
                padding: 0px 35px;
                padding-bottom: 60px;
    
                .analysis-section {
                    column-gap: 35px;
    
                    .left-section {
                        padding: 30px;
    
                        .item {
                            column-gap: 15px;
    
                            &:nth-child(2),
                            &:nth-child(5) {
                                padding-left: 32px;
                            }
    
                            &:nth-child(3),
                            &:nth-child(6) {
                                padding-left: 32px;
                            }
    
                            .img-section {
                                width: 50px;
                                height: 50px;

                                img {
                                    width: 21px;
                                    height: 21px;
                                }
                            }
    
                            .right {
                                .title {
                                    font-size: 15px;
                                    padding-bottom: 10px;
                                }
    
                                .small-text {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
    
                    .right-section {
                        width: 20%;
                        .main-content {
                            width: 100%;
                            padding: 30px 0;
    
                            .header {
                                img {
                                    transform: scale(1.2);
                                    left: -50px;
                                    margin-top: 0px;
                                }
    
                                p {
                                    font-size: 15px;
                                    margin-left: 25px;
                                    margin-top: -8px;
                                }
                            }
    
                            .apollo-container {
                                width: 90%;
    
                            }
    
                            .footer {
                                p{
                                    font-size: 15px;
                                }
                            }
                        }
                                            
                    }
                }
    
                .record-section {
                    column-gap: 35px;
                    margin-top: 60px;
    
                    .left-section {
                        .top-section {
                            padding: 15px 20px;
                            margin-bottom: 60px;
    
                            .outline-none-btn {
                                font-size: 20px;
                                height: 60px;
                                border-radius: 8px;
                            }
                        }
    
                        .bottom-section {
                            padding: 40px 25px;

                            .header {
                                .title {
                                    font-size: 18px;
                                }
    
                                .this-day-select {
                                    .tag {
                                        width: 150px;
                                        height: 45px;
                                        padding-left: 20px;
                                        font-size: 14px;
    
                                        &::after {
                                            content: "";
                                            width: 0;
                                            height: 0;
                                            border: 5px solid transparent;
                                            border-color: #54c6ff transparent transparent transparent;
                                            position: absolute;
                                            top: 20px;
                                            right: 20px;
                                        }                                    
                                    }
    
                                    .items {
                                        .item {
                                            padding: 10px 20px;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
    
                            .table-scroll-container {
    
                                .language-rank-table {
                                    margin-bottom: 60px;
    
                                    thead {
                                        tr {
                                            th {
                                                font-size: 14px;
                                                padding: 25px 0;
                                            }
                                        }
                                    }
    
                                    tbody {
                                        tr {
                                            td {
                                                padding: 10px 0;
                                            }
                                        }
    
                                        .contained-tr {
                                            td {
                                                font-size: 13px;
    
                                                &:first-child {
                                                    img {
                                                        width: 60px;
                                                    }
                                                }
    
                                                .success {
                                                    column-gap: 15px;

                                                    p {
                                                        width: 20px;
                                                        height: 20px;
                                                        margin-bottom: 0px;
    
                                                        i {
                                                            font-size: 10px;
                                                        }
    
                                                    }
                                                }
    
                                                .warning {
                                                    column-gap: 15px;
    
                                                    p {
                                                        width: 20px;
                                                        height: 20px;
                                                        margin-bottom: 0px;
    
                                                        i {
                                                            font-size: 10px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
    
                            .award-items {
                                max-height: 800px;
                                margin-right: -20px;
    
                                &::-webkit-scrollbar {
                                    width: 9px;      
                                }
                                
                                &::-webkit-scrollbar-track {
                                    border-radius: 9px;
                                }
                                
                                &::-webkit-scrollbar-thumb {
                                    border-radius: 9px;
                                }
                                
                                &::-webkit-scrollbar-thumb:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
    
                    .right-section {                   
                        width: 30%;

                        .section-container {
                            width: 100%;
                            padding: 20px 15px;
                            padding-bottom: 10px;
                        }
                    }
                }
    
    
            }
        }
    }
    
}

@media (max-width: 1204px) {
    #dashboard-records{ 
        .main-panel { 
            .content {
                .analysis-section {
                    .left-section {
                        .item {
                            &:nth-child(2),
                            &:nth-child(5),
                            &:nth-child(3),
                            &:nth-child(6){
                                padding-left: 20px;
                            }
                        }
                    }

                    .right-section  {

                        .main-content {
                            .header {
                                img {
                                    left: -38px;
                                }
                            }

                        }
                    }

                }
            }
        }
    }
}





@media (max-width: 992px) {
    #dashboard-records{ 
        .main-panel { 
            .content {
                
                .analysis-section {
                    flex-direction: column;
                    row-gap: 30px;
                    
                    .left-section {
                        grid-template-columns: 50% 50%;

                        .item {
                            &:nth-child(2) {
                                border-right: none;
                            }

                            &:nth-child(5) {
                                border-left: none;
                                border-right: none;
                            }

                            &:nth-child(4) {
                                border-left: 1px solid #0087CB;
                                border-bottom: 1px solid #0087CB;
                            }

                            &:nth-child(5) {
                                border-right: 1px solid #0087CB;
                            }

                            padding: 20px;
                        }
                    }

                    .right-section {
                        width: 100%;
                        display: grid;
                        place-items: center;

                        .main-content {
                            width: 50%;

                            .apollo-container {
                                width: 70%;
                            }
                        }
                        
                    }
                }

                .record-section {
                    flex-direction: column;

                    .left-section {
                        .bottom-section {
                            .award-items {
                                margin-right: 0px;

                                &::-webkit-scrollbar {
                                    display: none;     
                                }
                            }
                        }
                    }

                    .right-section {
                        width: 100%;
                    }
                }
            }
        }
    }
}




@media (max-width: 768px) {
    #dashboard-records{ 
        .main-panel { 
            .content {
                .record-section {
                    .left-section {
                        .bottom-section {
                            .table-scroll-container {
                                .language-rank-table {
                                    thead {
                                        tr {
                                            th {
                                                font-size: 14px;
                                                padding: 20px 10;
                                            }
                                        }
                                    }
                                    tbody {
                                        tr {
                                            td {
                                                padding: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media (max-width: 575px) {
    #dashboard-records{ 
        .main-panel { 
            .content {
                width: 93vw;
                margin: 0 auto;
                padding: 0px;

                .record-section {
                    .left-section {
                        .top-section {
                            .outline-none-btn {
                                font-size: 15px;
                                height: 50px;
                            
                            }
                        }

                        .bottom-section {
                            padding: 25px 15px;

                            .table-scroll-container {
                                width: 100%;
                                overflow-x: scroll;


                                .language-rank-table {
                                    min-width: 600px;
                                }
                            }

                            .header {
                                flex-direction: column;
                                align-items: flex-start;

                                .title {
                                    font-size: 16px;
                                    padding-bottom: 20px;
                                }

                                .this-day-select {
                                    .tag {
                                        height: 55px;

                                        &::after {
                                            top: 23px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .right-section {
                        .section-container {
                            padding: 5px;
                        }
                    }
                }

                .analysis-section {
                    .left-section {
                        grid-template-columns: 100%;
                        padding: 20px;

                        .item {
                            padding: 20px !important;
                            column-gap: 30px;

                            .img-section {
                                width: 60px;
                                height: 60px;
                            }

                            .right {
                                .title {
                                    font-size: 18px;
                                }

                                .small-text {
                                    font-size: 14px;
                                }
                            }

                            &:nth-child(2),
                            &:nth-child(4) {
                                border-left: none;
                            }

                            &:nth-child(5) {
                                border-right: none;
                                border-bottom: 1px solid #0087CB;
                            }
                        }
                    }

                    .right-section {
                        .main-content {
                            width: 100%;
                        }
                    }
                }
                
            }
        }
    }

}