#dashboard-tournament-result {
    .main-panel {
        .content {
            flex: 1;
            min-height: calc(100vh - 173px);
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/general/black-texture-background-1080P-wallpaper-middle-size.png) fixed center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 0 40px 40px 40px;
            animation: fadeIn 0.5s ease;

            .page-title {
                font-size: 40px;
                color: #E1E1E1;
                padding-bottom: 30px;
            }

            .header-section {
                background-color: #151423;
                box-shadow: 0 10px 30px #000;
                border-radius: 10px;
                padding: 50px 40px;
                position: relative;

                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                row-gap: 50px;

                .item {
                    width: 30%;
                    position: relative;
                    padding-left: 20px;

                    &:after {
                        content: "";
                        width: 4px;
                        height: 90%;
                        border: 4px solid transparent;
                        position: absolute;
                        border-radius: 10px;
                        top: 5px;
                        left: -1px;
                    }

                    &:first-child {
                        &:after {
                            border-color:#0087CB;
                            box-shadow: 0 3px 6px #0087CB;
                        }
                    }
                    &:nth-child(2) {
                        &:after {
                            border-color:#FF7D27;
                            box-shadow: 0 3px 6px #FF7D27;
                        }
                    }
                    &:nth-child(3) {
                        &:after {
                            border-color:#56DB15;
                            box-shadow: 0 3px 6px #56DB15;
                        }
                    }
                    &:nth-child(4) {
                        &:after {
                            border-color:#FF0000;
                            box-shadow: 0 3px 6px #FF0000;
                        }
                    }
                    &:nth-child(5) {
                        &:after {
                            border-color:#54C6FF;
                            box-shadow: 0 3px 6px #54C6FF;
                        }
                    }

                    &:nth-child(6) {
                        &:after {
                            border-color:#00CB9B;
                            box-shadow: 0 3px 6px #00CB9B;
                        }
                    }

                    .big-text {
                        color: white;
                        font-size: 20px;
                        padding-bottom: 5px;
                    }

                    .small-text {
                        color: white;
                        opacity: 0.6;
                        font-size: 16px;
                    }
                }

                .cup-background {
                    position: absolute;
                    height: 100%;
                    right: 0px;
                    top: 0px;
                }
            }

            .table-container {
                .table-title {
                    color: #E1E1E1;
                    font-size: 24px;
                    padding: 30px 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #dashboard-tournament-result {
        .main-panel {
            .content {
                .page-title {
                    font-size: 32px;
                    padding-bottom: 20px;
                }

                .header-section {
                    row-gap: 30px;
                    padding: 40px 30px;

                    .item {
                        .big-text {
                            font-size: 16px;
                        }

                        .small-text {
                            font-size: 14px;
                        }
                    }
                }

                .table-container {
                    .table-title {
                        padding: 30px 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    #dashboard-tournament-result {
        .main-panel {
            .content {
                padding: 0 35px 35px 35px;

                .header-section {
                    row-gap: 30px;
                    padding: 20px;

                    .item {
                        width: 32%;
                        .big-text {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    #dashboard-tournament-result {
        .main-panel {
            .content {
                margin: 0 auto;
                width: 93vw;
                padding: 0px;

                .page-title {
                    font-size: 24px;
                }

                .header-section {
                    padding: 10px 17px;

                    .item {
                        width: 50%;

                        &::after {
                            border: 2px solid transparent;
                        }

                        .big-text {
                            font-size: 12px;
                        }

                        .small-text {
                            font-size: 10px;
                        }
                    }
                }

                .table-container {
                    .table-title {
                        font-size: 20px;
                        padding: 30px 0 10px 0;
                    }
                }
            }
        }
    }
}